# Application Environment
PAYMENT_ENV=production
RUN_SANDBOX_TESTS=false

# Mellat PSP Configuration
MELLAT_TERMINAL_ID=
MELLAT_USERNAME=
MELLAT_PASSWORD=
MELLAT_CALLBACK_URL=

# Zibal IPG Configuration
ZIBAL_MERCHANT=
ZIBAL_CALLBACK_URL=

# Zarinpal GraphQL v4 Configuration
ZARINPAL_ACCESS_TOKEN=
ZARINPAL_MERCHANT_ID=
ZARINPAL_CALLBACK_URL=

# Saman (SEP) Configuration
SAMAN_TERMINAL_ID=
SAMAN_REDIRECT_URL=
