# Server Configuration
PORT=3000
NODE_ENV=development
USE_MOCK_GATEWAYS=false
PAYMENT_ENV=sandbox

# Zibal PSP Credentials
ZIBAL_MERCHANT=zibal
ZIBAL_CALLBACK_URL=http://localhost:3000/api/callbacks/zibal
